<nav role="navigation" class="grey darken-4">
  <div class="nav-wrapper container">
    <a id="logo-container" href="" class="brand-logo">Kibzaim</a>
    <ul class="right hide-on-med-and-down">
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/applist">Apps</a></li>
    </ul>

    <ul id="nav-mobile" class="sidenav">
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/applist">Apps</a></li>
    </ul>
    <a data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
  </div>
</nav>
<router-outlet></router-outlet>


<footer class="page-footer grey darken-4">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Hi!</h5>
        <p class="grey-text text-lighten-4">My name is Kibsaim Mejia.</p>
        <p>I have experience developing applications such as Remote Account Opening for banks among other projects.</p>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Skills</h5>
        <ul>
          <li>DevOps</li>
          <li>Web Development</li>
          <li>Testing</li>
          <li>Analytics</li>
        </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Technologies</h5>
        <ul>
          <li>Javascript</li>
          <li>Typescript</li>
          <li>Angular</li>
          <li>Node</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Made by <a class="red-text" href="http://kibzaim.life">Kibza</a>
    </div>
  </div>
</footer>
