<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container white-text">
      <h1 class="header center">Completed Applications</h1>
      <div class="row center">
        <h5 class="header col s12 bold">Search for apps Kibza has made:</h5>
      </div>
      <div class="row center">
        <a routerLink="/applist/starwars" id="download-button" class="btn-large waves-effect waves-light red"> <i
            class="material-icons left">home</i> Latest!</a>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="../../../assets/background1.jpg" alt="Unsplashed background img 1"></div>
</div>
<div class="container">
  <div class="row">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime et iusto id ad esse vitae quisquam aperiam corporis quidem ipsam, repudiandae sint, earum blanditiis possimus molestiae consectetur distinctio magnam adipisci!</p>
    <hr>
    <div class="col s12 m4">
      <div class="card hoverable">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="assets/images/starwars.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Star Wars 🔍<i
              class="material-icons right">more_vert</i></span>
          <p><a class="btn red" href="/applist/starwars">Go to App</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Star Wars 🔍<i class="material-icons right">close</i></span>
          <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="card hoverable">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="assets/images/pokemon.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">PokeAPI<i
              class="material-icons right">more_vert</i></span>
          <p><a class="btn red" href="/applist/pokemon">Go to App</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">PokeAPI<i class="material-icons right">close</i></span>
          <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="card hoverable">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="assets/images/login.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Login<i
              class="material-icons right">more_vert</i></span>
          <p><a class="btn red" href="/applist/login">Go to App</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Login<i class="material-icons right">close</i></span>
          <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>
      </div>
    </div>
  </div>
</div>
